<div class="newblock">
</div>
<svg width="0" height="0">
    <defs>
        <clipPath id="myClip">
            <circle class="frame" cx="100" cy="100" r="40" />
            <circle class="frame" cx="60" cy="60" r="40" />
        </clipPath>
    </defs>
</svg>

<!-- ====================== -->

<div class="slide-wrap">



    <div class="clip-bg-wrap">
        <div class="img-box"></div>
        <!--<img class="clip-bg" src="https://pi.tedcdn.com/r/tedideas.files.wordpress.com/2017/05/featured_art_heal_forests.jpg" alt="">-->
        <!--<img class="clip-bg" src="./assets/images/woman1.png" alt="">-->
    </div>






</div>
