<div class="button" (click)="clickBut()">
click me
</div>

<div class="newblock">
</div>
<svg width="500" height="500">
    <defs>
        <clipPath id="myClip">
            <circle id="my-circle" [class.shield]="shield" class="frame" cx="10%" cy="10%" r="40"/>

            <circle class="frame" cx="30%" cy="30%" r="30" />
        </clipPath>
    </defs>
</svg>

<!-- ====================== -->

<div class="slide-wrap">



    <div class="clip-bg-wrap">
        <div class="img-box"></div>
        <!--<img class="clip-bg" src="https://pi.tedcdn.com/r/tedideas.files.wordpress.com/2017/05/featured_art_heal_forests.jpg" alt="">-->
        <!--<img class="clip-bg" src="./assets/images/woman1.png" alt="">-->
    </div>






</div>
