














.button {
    font: Arial;
    padding: 5px;
    display: inline-block;
    border: 1px solid #d0792e;
    border-radius: 4px;
    background: #d0912d;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    margin-bottom: 10px;
    user-select: none;
}
.buttons {
    padding: 10px 0;
}
// ==================================================
@keyframes img-opacity {
    0% { opacity: 0; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}
@keyframes oscillate-reduce {
    0% { transform: rotate(-15deg) skewX(-8deg) translateX(80%) translateY(20%)}
    100% { transform: rotate(0) skewX(0) translateX(0) translateY(0) }
}
@keyframes melt-away {
    0% { transform: rotate(0) skewX(0) translateX(0) translateY(0) }
    100% { transform: rotate(15deg) skewX(8deg) translateX(-80%) translateY(-15%)}
}

.shield {
    animation: oscillate-reduce 1s ease-in-out;
}
.opaanim {
    animation: img-opacity 1s ease-in-out;
}
.melt {
    animation: melt-away 0.5s ease-out;
    transform: rotate(15deg) skewX(8deg) translateX(-80%) translateY(-15%);
}

.img-box {
    clip-path: url(#frame-clip);
    //opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //clip-path: polygon(20% 20%, 50% 20%, 50% 80%, 20% 80%, 20% 75%, 47% 75%, 47% 25%, 23% 25%, 23% 75%, 20% 75%);
    transition: all 0.3s ease-out;
    //background: #f64a52 url(./../../../assets/images/woman1.png) 10% 10%;

    background-color: #f64a52;
    //background-image: url(https://i.pinimg.com/originals/22/7f/3f/227f3f42f785a7cc140ee3ae8bdaf43f.png);
    background-position: 50% 0;
    //background: #f64a52 url(https://i.pinimg.com/originals/22/7f/3f/227f3f42f785a7cc140ee3ae8bdaf43f.png) 50% 0;
    background-blend-mode: luminosity;
}
.clip-bg-wrap {
    filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.5));
}
.slide-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 61.25%; //56.25 (9:16)
    margin: 0 auto;
    border: 1px solid red;
    box-sizing: border-box;
    background: #b295b1;
}
