.new-wrap {
    border-radius: 4px;
    border: 1px solid #6444c2;
    margin-bottom: 50px;
    height: 500px;
    padding: 10px;
}
.button {
    font: Arial;
    padding: 5px;
    display: inline-block;
    border: 1px solid #d0792e;
    border-radius: 4px;
    background: #d0912d;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    margin-bottom: 10px;
    user-select: none;
}
.block {
    width: 100px;
    height: 100px;
    background: #bf554f;
    border-radius: 10px;
}
.blocks-wrap {
    margin: 10px;
    position: relative;
    width: 200px;
    height: 100px;
    border: 1px solid #eeeeee;
    border-radius: 10px;
}
.fadeinoutblock {
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    background: #e0aebd;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 10px;
    &.aps-pos {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }
    &.color2 {
        background: #8ba6e0;
    }
}
